body{
    margin: 0%;
}
.header{
    margin: 0%;
    height: 1%;
}
.header ul{
    list-style: none;
    padding: 0%;
    background-color: yellow;
    margin: 0%;

}
.header ul li{
    display: inline-block;
    height: 100%;
    position: sticky;
}
#logo{
    height: 50px;
    width: 20%;
    padding: 1%;
}
#logo img{
    height: 82%;
    margin: 0%;
    margin-top: 5%;
}
#search{
    width: 50%;
}
#search label{
    font-size: large;
    padding: 5%;
    margin: 0%;
}
#search input{
    display: inline-block;
    width: 50%;
    height: 20%;
    padding-top: 1%;
    margin-bottom: 5%;
}
#login{
    width: 10%;
    text-align: center;
}
#login a{
    display: inline-block;
    width: 50%;
    height: 30%;
    padding-top: 2%;
    margin-bottom: 5%;
    text-decoration: none;
}
#login a:hover{
    font-size: x-large;
    color: crimson;
}
#cart{
    width: 10%;
    text-align: center;
}
#cart a{
    display: inline-block;
    width: 50%;
    height: 30%;
    padding-top: 2%;
    margin-bottom: 5%;
    text-decoration: none;
}
#cart a:hover {
    font-size: x-large;
    color: crimson;
}

.content{
    margin: 2%;
}
.ads{
    margin: 2%;
}
.content a{
    text-align: center;
    margin: 1%;
    display: inline-block;
}
.content a img{
    display: inline-block;
    margin: auto;
    width: 70%;
}
.cat{
    margin: 1%;
}
.cat a:hover{
     width: 15%;
     transition: 0.1ms;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3%;
    text-align: center;
    font-family: arial;
    display: inline-block;
    width: 10%;
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.2);
}
.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 75%;
    font-size: 18px;
    margin: auto;
}

.card button:hover {
    opacity: 0.7;
}
.pro>h1{
    text-align: center;
}

/*last div footer*/
.footer {
    margin-top: 30px;
}

.email {
    display: block;
    height: fit-content;
    background-color: black;
    color: white;
    display: flex;
    margin-bottom: 0px;
}

.email p,
h4 {
    margin: 0px 0px;
    padding: 10px 10px;
}

.email input {
    margin: 0px 10px 10px;
    height: 30px;
    width: 300px;
    border-radius: 6px;
    outline: none;
}

.gender {
    background-color: black;
    color: white;
    height: 30px;
    width: 90px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.gender:hover {
    border: 2px solid orange;
    color: orange;
}

.download a {
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: large;
    padding: 5px 5px;
}

.download a:hover {
    color: orange;
    border: 1px solid orange;
}

.download {
    margin: auto;
    float: left;
}

.contactus,
.join {
    background-color: rgb(50 50 50 / 100%);
    margin-top: 0px;
    display: flex;
}

.contactus ul,
.join ul {
    list-style-type: none;
}

.help,
.about {
    width: 50%;
    padding: 0 2%;
}

.contactus ul li a {
    text-decoration: none;
    color: #c7c7cd;
    display: inline-block;
}

.contactus ul li a:hover {
    text-decoration: underline;
}

.contactus ul li p,
h5 {
    color: #c7c7cd;
    text-align: left;
}

.socials,
.payment {
    width: 50%;
    text-align: center;
}

.socials ul,
.payment ul {
    display: flex;
}

.socials ul li i,
.payment ul li i {
    font-size: 20px;
    margin: auto 20px;
    color: white;
}

.socials h5,
.payment h5 {
    padding-left: 50px;
    text-align: left;
}

.socials ul li i:hover,
.payment ul li i:hover {
    color: orange;
}


/*social media*/
.fa {
    padding: 20px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}
